.containerAutos {
    display: flex; /* or inline-flex */
    justify-content: left;
    flex-grow: 2;
    margin-top: 50px;
}

.container {
    padding-right: 10px;
    padding-left: 30px;
    height: 200px; 
    width: 400px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}